APP_URL=http://192.168.0.104:3000

# Database Configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/portfolio?schema=public

# Prisma Studio
PRISMA_STUDIO_URL=http://localhost:5556

# Site Configuration
NEXT_PUBLIC_SITE_URL=https://new-portfolio-psi-bice.vercel.app
NEXT_PUBLIC_SITE_NAME="Nishat Mazumder - Full Stack Web Developer portfolio"

# Contact Form (if using Resend or other email service)
RESEND_API_KEY=re_e3RAkqnE_4S1wJ5WRWCNFaBNWxoV47hkZ
CONTACT_EMAIL=nishatislam3108@gmail.com

# Development
NODE_ENV=development

BLOB_READ_WRITE_TOKEN="KEY"
